.block-row {
    background-image: linear-gradient(20deg, lavenderblush, #b462b4);
    width: 100vw;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.block {
    background-color: white;
    max-width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 15px;
}
p {
    margin-bottom: 2px;
}